/* Header */

#header {
  /* xet vi tri cho header */
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#movieNavbar .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}

.collapse .navbar-nav .nav-item {
  position: relative;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* canh chinh deu cho item menu */
  padding: 10px 20px;
}

.collapse .navbar-nav .nav-item a {
  color: white;
  font-weight: bold;
}

.collapse .navbar-nav .nav-item::after {
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  width: 0;
  /* chinh vi tri duong ke ngang */
  position: absolute;
  left: 0;
  bottom: 0;
  /* hieu ung chuyen dong */
  transition: all 0.3s;
  /* box-shadow */
  box-shadow: 0 0 20px 0 #fbbd61;
}

.collapse .navbar-nav .nav-item:hover:after {
  width: 100%;
}

.collapse .navbar-nav .nav-item.active:after {
  width: 100%;
}

/* ----------------------------------------------------------- */
/* Carousel */

#movieCarousel .carousel-caption {
  /* chinh caption qua ben trai */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#movieCarousel .carousel-caption .pg {
  font-size: 15px;
  border: 2px solid white;
  padding: 15px;
  border-radius: 30px;
  /* border: none; */
}

#movieCarousel .carousel-caption .btn-trailer {
  /* display: inline-block; */
  background: linear-gradient(to right, #fbbd61, #ec7532);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 40px;
  /* sét vị trí canh chỉnh background nền khi hover */
  position: relative;
  /* che những phần thừa ra khi hover  */
  overflow: hidden;
}

#movieCarousel .carousel-caption .btn-trailer::before {
  content: "";
  display: block;
  background: #ec7532;
  /* tạo hình bình hành để tạo hiệu ứng hover */
  transform: skewX(30deg);
  padding: 25px 40px;
  /* sét vị trí canh chỉnh background nền khi hover */
  position: absolute;
  top: 0;
  left: -100px;
  /* set with = 0 de tao hieu ung */
  width: 0;
  /* tao hieu ung chuyen dong */
  transition: all 0.5s;
  z-index: 0;
}

#movieCarousel .carousel-caption .btn-trailer:hover::before {
  width: 165%;
  /* background: #ec7532; */
}

#movieCarousel .carousel-caption .btn-trailer span,
#movieCarousel .carousel-caption .btn-trailer i {
  /* sét vị trí hiển thị khi có hover */
  position: relative;
  color: white;
  /* luôn luôn hiển thị khi có hover */
  z-index: 1;
  letter-spacing: 3px;
}

#movieCarousel .carousel-indicators {
  left: 40%;
  bottom: 10%;
  transform: translateX(-50%);
  /* ghi de vi tri so voi thu vien BS4 */
  justify-content: left;
  /* padding-left: 15px; */
  margin-right: 0;
  margin-left: 0;
  /* list-style: none; */
}

#movieCarousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
}

#movieCarousel .carousel-indicators li.active {
  background-color: white;
  /* xoa vien rong o border */
  background-clip: border-box;
}

/* ----------------------------------------------------------- */
/* SECTION NEWIN */
#newin {
  padding-top: 50px;
}
#newin h2 {
  /* display: inline-block; */
  text-transform: uppercase;
  font-size: 18px;
  color: #ec7532;
}

.newin__img {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

/* tao ke ngang ben duoi the h2 */
#newin h2::after {
  position: absolute;
  /* bottom: 0; */
  transform: translate(-15%, 250%);
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  margin-top: 10px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
}

/* tao duong ke ngang ben tren*/

#newin .row.newin__content::before {
  position: relative;
  display: block;
  content: "";
  border: 1px solid gray;
  opacity: 0.3;
  margin-top: 10px;
  width: 100%;
}

#newin .newin__content .newin__item {
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}

#newin .newin__img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #ec7532, #fbbd61);
  width: 200%;
  height: 100%;
  transform: skewX(30deg) translateX(-150%);
  /* tao hieu ung khi hover */
  opacity: 0.9;
  /* transform: scale(0.8); */
  transition: all 0.5s;
  color: white;
}

#newin .newin__img:hover .overlay {
  transform: skewX(30deg) translateX(-30%);
}

#newin .newin__img:hover .newin__play {
  opacity: 1;
}

#newin .newin__play {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transform: translateX(20%);
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 30px;
  transition: all 0.5s;
  opacity: 0;
}
.newin__content .newin__btn-video {
  background: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
  outline: none;
}
.newin__content .newin__btn-video i {
  color: white;
}

#newin .newin__play .newin__play-text-p {
  color: white;
  padding: 15px 0 0 0;
  letter-spacing: 2px;
}

#newin .newin__play .newin__play-text-h3 {
  color: white;
  /* font-size: 20px; */
}

.newin__text {
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
  font-size: 20px;
}

.newin__text i {
  color: #fbbd61;
  font-size: 14px;
}
.newin__text p {
  font-size: 16px;
  font-weight: 400;
}

/* ----------------------------------------------------------- */
/* show time */
#showtime {
  margin-top: 100px;
  margin-bottom: 100px;
}

.tab-content .col-2 img {
  /* margin: 10px 10px; */
  border: none;
  border-radius: 15px;
}

.nav-tabs .nav-item a {
  color: black;
  text-transform: uppercase;
  padding: 0 30px;
  font-size: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ec7532;
}

/* hover thi hidden underline */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
  text-decoration: none;
}

#showtime .nav-tabs .nav-item {
  position: relative;
}

/* tao ke ngang */
#showtime .nav-tabs .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  transition: all 0.5s;
}

/* ke ngang khi hover thi width=100% */
#showtime .nav-tabs .nav-item:hover .nav-link::after,
#showtime .nav-tabs .nav-item .nav-link.active::after {
  width: 100%;
  /* text-decoration: underline; */
}

/* phan content cua showtime */

.tab-content .row.tab-pane-item {
  padding: 30px 0;
}

.tab-content .row.tab-pane-item .tab-pane-title-h1,
.tab-content .row.tab-pane-item .full > a {
  color: #ec7532;
  letter-spacing: 2px;
  font-size: small;
}

.tab-content .row.tab-pane-item .full a i {
  font-size: xx-small;
  padding-bottom: 16px;
}

/*  */

.tab-content .row.tab-pane-item .viewing-time {
  font-size: smaller;
  letter-spacing: 1px;
}

.tab-content .row.tab-pane-item button {
  margin: 0 4px;
  border: none;
  background: #d8d8d8;
  padding: 4px 16px;
  border-radius: 6px;
  font-weight: 100;
}
.tab-content .row.tab-pane-item .viewing-time-btn-1 {
  background: #ececec;
}

/* showtime time */
.tab-content .row.tab-pane-item .col-3 {
  font-size: small;
}

.tab-content .row.tab-pane-item .col-3 > span {
  font-size: small;
  padding: 5px 7px;
  border-radius: 50%;
  background: #4a4a4a;
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

/* -------------------------------------------------- */
/* coming soon */

#comingsoon {
  position: relative;
  background: #101010;
}

.comingsoon_styleTitle h1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(50%, 50%);
}

.comingsoon_styleTitle h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #f18e42, #ec7532);
  position: absolute;
  bottom: -50%;
  transform: translateY(50%);
}

.coming_slider-item img {
  width: 100%;
  height: 500px;
}

.coming_slider-item .comingsoon_text {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  transform: translateX(10%) translateY(-10%);
}
*/ .coming_slider-item .comingsoon_text p {
  width: 41%;
}
.coming_slider-item .comingsoon_text h5,
.coming_slider-item .comingsoon_text a {
  color: #ec7532;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.5s;
}
.coming_slider-item .comingsoon_text a:hover {
  color: #fbbd61;
}
.coming_slider-item .comingsoon_text h2 {
  color: white;
  letter-spacing: 1px;
}

.coming_slider-item .comingsoon_text i {
  color: #fbbd61;
  font-size: 10px;
  letter-spacing: 2px;
}
.coming_slider-item .comingsoon_text p,
.coming_slider-item .comingsoon_text span {
  color: white;
}

/* slider */
.coming_slider-i .coming_slider-item1 img {
  width: 150px;
  height: 220px;
  border-radius: 15px;
  margin-top: 45px;
}

.coming_slider-i .coming_slider-item1 {
  opacity: 0.5;
}
.coming_slider-i .coming_slider-item1:hover {
  opacity: 1;
}
.coming_slider-i .coming_slider-item1 h5,
.coming_slider-i .coming_slider-item1 p {
  color: #4a4a4a;
  font-size: 16px;
}
.coming_slider-i .coming_slider-item1 h5 {
  padding-top: 15px;
}

/*  */

.coming_slider-item .comingsoon__textLeft {
  width: 40%;
}

#comingsoon .comingsoon__btn-video {
  position: absolute;
  top: 20%;
  right: 25%;
  transform: translate(-50%, 50%);
}
.coming_slider-item .comingsoon__bg-video img {
  max-width: 500px;
  max-height: 300px;
  height: auto;
  transform: translate(10%, -15%);
}

.coming_slider-item .comingsoon__bg-video .comingsoon__styleMovie9 {
  width: 700px;
  height: 600px;
}

/* comingsoon button video */
.comingsoon__bg-video .comingsoon__btn-video {
  background: none;
  padding: 20px 25px;
  border-radius: 50%;
  border: 1px solid #f18e42;
  outline: none;
}

.comingsoon_text .comingsoon__bg-video a i {
  font-size: 26px;
  color: white;
}

.vbox-close {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .comingsoon__bg-video .comingsoon__btn-video {
    margin: 0 auto;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .comingsoon__bg-video .comingsoon__btn-video {
    font-size: 5px;
  }
}

/* ----------------------------------------------------------- */
/* Comingsoon slider */
.slider__bg {
  background: #101010;
  width: 100%;
  height: 400px;
}
.owl-carousel .owl-item img {
  width: 90% !important;
  height: 230px;
  border-radius: 15px;
}

.owl-carousel .item {
  opacity: 0.5;
  padding-top: 70px;
}

/* hover item */
.owl-carousel .item:hover {
  cursor: pointer;
  opacity: 1;
}

.owl-carousel p {
  font-size: small;
}

/* 2 button */
.owl-theme .owl-dots .owl-dot > span {
  display: none !important;
}

.owl-theme .owl-nav {
  font-size: 70px;
  color: #f18e42;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  margin-left: 40px;
  top: 0;
  transform: translateY(130%);
  right: -11px;
  padding: 10px 10px;
  outline: none;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  margin-left: -40px;
  top: 0;
  transform: translateY(130%);
  left: 0;
  padding: 10px 10px;
  outline: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  transition: all 0.5s;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot {
  background: none;
  color: #f18e42;
}

/* contact */

#contact p {
  font-size: 20px;
}

#contact h1 {
  color: #ec7532;
}
#contact h1::selection {
  background: orangered;
  color: #ec7532;
}
/* footer */

#footer {
  background: #101010;
  height: 250px;
}

#footer .footer__content .footer__menuColor {
  color: #ec7532;
  font-size: 16px;
  padding-top: 50px;
}

.footer__content ul li {
  list-style: none;
  text-align: left;
}

.footer__content ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  transition: all 0.5s;
}

.footer__content ul li:hover a {
  color: #fbbd61;
}

#footer .footer__content {
  position: relative;
}
#footer .footer__content::after {
  content: "";
  width: 100%;
  border: 1px solid white;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

/* footer copyright */
.footer__copyright > span {
  transition: all 0.5s;
}
#footer .footer__copyright > span:hover {
  color: #ec7532;
}
